<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaorange.store.dao.ProductDao">
	<!-- sql片段，用于封装重复的sql -->
	<sql id="cols">
			pid,
			pname,
			market_price,
			shop_price,
			pimage,
			pdate,
			is_hot,
			pdesc,
			pflag,
			cid
	</sql>
	<select id="findHotList" resultType="product">
		select
			<include refid="cols"/>
		from
			product
		where  
			is_hot = 1 limit 0,10
	</select>



	<select id="findListByCid" resultType="product" parameterType="map">
		select
			<include refid="cols"/>
		from
			product
		
		<where>  
			<if test="cid != null">and cid = #{cid}</if>
			<if test="pflag != null"> and pflag = #{pflag}</if>
		</where>
		limit #{beginRow},#{pageSize}			
			
	</select>
	
	
	<select id="getTotalCountByCid" resultType="int" parameterType="map">
		select
			count(cid)
		from
			product
		
		<where>   
			<if test="cid != null"> and cid = #{cid}</if>
			<if test="pflag != null"> and pflag = #{pflag}</if>
		</where>
	</select>
	
	
	<select id="findById" resultType="product" parameterType="string">
		select
			<include refid="cols"/>
		from
			product
		where  
			pid = #{param1}
	</select>
	
	<update id="update" parameterType="product">
		update product set 
			pname=#{pname},
			market_price=#{market_price},
			shop_price=#{shop_price},
			pimage=#{pimage},
			is_hot=#{is_hot},
			pdesc=#{pdesc},
			pflag=#{pflag},
			cid=#{cid}
		where pid = #{pid}
	</update>
</mapper>

